html, body { height: 100%;}

html {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}


body > footer {
  position: sticky;
  top: 100vh;
}

body { 
    width: 60%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  display: flex;
  height: 65px;
  margin-top: 25px;
}

div > div#head > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 35px;
  margin-bottom: -30px;
}

div > div#head > h6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
}

#title {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

li {
  display: inline-block;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: gray;
}

#date {
  color: gray;
}

ul {
  margin-left: auto;
  margin-top: 50px;
}

#choco {
  margin-bottom: -15px;
}

footer {
  text-align: center;
}

#print {
  float: right;
}

#pizza {
  width: 100%;
}

#hr {
  width: 100%;
  height: 40px;
}

#recipe {
  font-family: serif;
  font-size: 20px;
  color: gray;
  text-indent: 30px;
}

#recipelist {
  display: flex;
  align-items: center;
  background-image: url(img/list-bg.png);
  height: 200px;
}

div > div#list1 {
  line-height: 35px;
  margin-top: -30px;
  font-weight: bold;
}

div > div#list2 {
  line-height: 35px;
  margin-top: -30px;
  font-weight: bold;
}

#about {
  display: flex;
  align-items: center;
}

#info {
  display: flex;
}

#small {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#share {
  margin-top: 20px;
  background-color: salmon;
  border: none;
  color: white;
  width: 150px;
  font-weight: bold;
  height: 40px;
}